.header {
  background-color: var(--el-color);
  box-shadow: 0 0.3rem 0.5rem -0.2rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; height: 5rem;
  padding: 0 1rem;
  position: fixed;
  left: 0; top: 0;
  z-index: 1000;
}

.headerTitle {
  font-weight: var(--w-bold);
}

.modeToggle {
  color: var(--txt-color);
  font-size: 0.875rem;
  font-weight: var(--w-semi-bold);
  padding: 0.5rem 0;
}

.icoMoon {
  margin-right: 0.75rem;
  transform: rotateZ(-30deg);
}

.icoMoon path {
  stroke: var(--txt-color);
  stroke-width: 40;
  fill: white;
}

@media screen and (min-width: 769px) {
  .header {
    padding: 0 5rem;
  }

  .headerTitle {
    font-size: 1.5rem;
  }
}